ion-title {
  font-size: 23px;
  text-align: center;
}

ion-button {
    --background: #393d42;
  }
  
  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
  }
  
  ion-col {
    display: block;
    margin: auto;
  }