<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Agredar usuario</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="perfil" color="dark" text="Atras"></ion-back-button>
      <!-- <ion-back-button color="dark" text="Atras" (click)="menuPerfil()"></ion-back-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="background">
  <form #guardarPerfil="ngForm" novalidate>
    <!-- <ion-img src=".././assets/img/BlackC-SF2.png"></ion-img> -->
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-label position="floating"> Usuario</ion-label>
              <ion-input [(ngModel)]="nu.usuario" name="usuario" type="text" required></ion-input>
            </ion-item>            
            <ion-item>
              <ion-label position="floating"> Contraseña</ion-label>
              <ion-input [(ngModel)]="nu.contrasenia" name="contrasenia" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating"> Nombre</ion-label>
              <ion-input [(ngModel)]="nu.nombre" name="nombre" type="text" required></ion-input>
            </ion-item>
            <br>
            <ion-item no-lines>
              <ion-segment (ionChange)="segmentChanged($event)" name="sexo" type="text" [(ngModel)]="nu.sexo"> 
                <ion-segment-button value="F" >
                  <ion-label>Femenino</ion-label>
                </ion-segment-button>
                <ion-segment-button value="M" >
                  <ion-label>Masculino</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-item>
      <!-- <ion-item>
              <ion-label position="floating"></ion-label>
              <ion-select placeholder="Sexo" name="sexo" type="text" [(ngModel)]="nu.sexo" required>
                <ion-select-option value="F" >Femenino
                </ion-select-option>
                <ion-select-option value="M" >Masculino
                </ion-select-option>
              </ion-select>
            </ion-item> -->
            <ion-item>
              <ion-label position="floating"> Correo Electronico</ion-label>
              <ion-input [(ngModel)]="nu.correo_electronico" name="correo_electronico" type="email" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating"> Telefono</ion-label>
              <ion-input [(ngModel)]="nu.telefono" name="telefono" type="text" required></ion-input>
            </ion-item>
          </div>
          <br>
          <div padding>
            <ion-button (click)="nuevoUsuario(guardarPerfil)" size="large" type="submit" expand="block">Registrar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>