// ion-item {
//   opacity: 0.7;
//   --background: #393d42;

  
//   // --background: transparent;
  
//   --color: #fff;
//   margin-bottom: 2px;

//   --padding-end: 2px;
//   --padding-start: 2px;
// }

// ion-title {
//   font-size: 23px;
// }
// ion-col.h3 {
//   --color: #fff;
// }

ion-button {
    --background: #393d42;
  }
  
  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
  }
  
  // ion-img {
  //   width: 45%;
  //   display: block;
  //   margin: auto;
  // }
  
  // ion-content {
  //   --background: url(https://i.imgur.com/8CuG1dp.png) 0 0/100% 100% no-repeat;
  // }
  
  
  // ion-content.background {
  //   --background: url(../../assets/img/imgreg.jpg) 100% 100% no-repeat;
  
  // }