ion-card-title {
    text-align: center;
  }
  
  ion-title {
    font-size: 23px;
    text-align: center;
  }
  
  .image-center {
    margin: 0 auto;
    width: 100% !important;
    height: 100% !important;
    max-width: 100px !important; //any size
    max-height: 100px !important;
  }

  .green {
    background: #5EA226;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 54%; 
  }

  .red {
    background: red;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 54%; 
  }

  .azul {
    background: #33AFFF;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 54%; 
  }
  
  