<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Perfiles</ion-title>
    <ion-buttons slot="end">
      <ion-button href="registro">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button (click)="menuPerfil()" defaultHref="menu" text="Atras"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-card
    *ngFor="let Usuarios of listado?.respuesta; let indice=index;"
    href="./editarperfil/{{Usuarios.usuario}}/{{Usuarios.sexo}}/{{Usuarios.correoElectronico}}/{{Usuarios.nombre}}/{{Usuarios.telefono}}/{{Usuarios.contrasenia}}"
    class="animated fast fadeInDown"
  > -->
  <ion-card
    *ngFor="let Usuarios of listado?.respuesta; let indice=index;"
    href="editarperfil/{{Usuarios.usuario}}/{{Usuarios.sexo}}/{{Usuarios.correoElectronico}}/{{Usuarios.nombre}}/{{Usuarios.telefono}}/{{Usuarios.contrasenia}}"
    class="animated fast fadeInDown"
  >
  
    <ion-card-header>
      <!-- <ion-card-subtitle>{{Usuarios.idRol}}</ion-card-subtitle> -->
      <!-- <ion-avatar class="image-center">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar> -->
      <ion-card-title>{{Usuarios.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Sexo: {{Usuarios.sexo}}</p>
      <p>Peso: {{Usuarios.peso}} Kg</p>
      <p>Altura: {{Usuarios.altura}} m</p>
      <p>Telefono: {{Usuarios.telefono}}</p>
      <p>Correo Electronico: {{Usuarios.correoElectronico}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
