<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" padding class="background">
  <form #loginForm="ngForm" novalidate>
    <ion-img src="http://3.133.28.198:8080/imgs/BCF.png"></ion-img>

    <ion-grid>
      <ion-row color="primary">
        <ion-col size-md="6" size-lg="5" size-xs="12" no-lines>
          <div padding>
            <ion-item>
              <ion-label position="floating"> Usuario</ion-label>
              <ion-input type="text" [(ngModel)]="login.usuario" name="usuario" #usuario="ngModel" spellcheck="false"
                autocapitalize="on" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating"> Contraseña</ion-label>
              <ion-input type="password" [(ngModel)]="login.contrasenia" name="contrasenia" type="password"
                #contrasenia="ngModel" required></ion-input>
            </ion-item>
          </div>
          <div class="centrado">
            <ion-button (click)="onLogin(loginForm)" type="submit" size="large" expand="block"
              color="primary">
              Iniciar Sesión
            </ion-button>
            <ion-button class="forgot-btn" fill="clear" (click)="recuperar()">
              Recuperar contraseña
            </ion-button>            
          </div>
        </ion-col>
      </ion-row>
      <ion-footer class="ion-no-border">
        <ion-toolbar>
          <ion-title>v 2.2</ion-title>
        </ion-toolbar>
      </ion-footer>
    </ion-grid>
  </form>
</ion-content>