<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-title>Mi Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button href="cambiarpass">
        <ion-icon slot="icon-only" name="lock-open-outline"></ion-icon>
      </ion-button>       
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="atras()" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<br>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" size-lg="5" size-xs="12"size="12">
        <ion-col >
          <div padding *ngIf="sexo === 'M'">
            <ion-img src="http://3.133.28.198:8080/imgs/hombre.svg"></ion-img>
          </div>
          <div *ngIf="sexo === 'F'">
            <ion-img src="http://3.133.28.198:8080/imgs/mujer.svg"></ion-img>
          </div>
        </ion-col>
        <br>
        <ion-col class="user-info-wrapper" size="8">
          <h3 class="user-name"> {{nombre}} </h3>
        </ion-col>        
      </ion-col>   

    </ion-row>

    <ion-row >
      <ion-col size-md="6" size-lg="5" size-xs="12" class="acomodar">

        <ion-col size="12">
          <h4 class="preference-name">Usuario</h4>
          <p class="preference-value">
            {{user}}
          </p>
        </ion-col>
        <ion-col size="12">
          <h4 class="preference-name">Sexo</h4>
          <p class="preference-value" *ngIf="sexo === 'M'">
            Masculino
          </p>
          <p class="preference-value" *ngIf="sexo === 'F'">
            Femenino
          </p>
        </ion-col>        
          <ion-col size="12">
            <h4 class="preference-name">Telefono</h4>
                <ion-input name="telefono" type="tel" value="{{telefono}}" [(ngModel)]="eu.telefono" required></ion-input>
          </ion-col>
          <ion-col size="12">
            <h4 class="preference-name">Correo electronico</h4>
            <ion-input name="correoElectronico" type="text" value="{{email}}" [(ngModel)]="eu.correoElectronico" required></ion-input>
          </ion-col>                    
          <ion-col size-md="6" size-lg="5" size-xs="12">
            <ion-button color="primary" (click)="editarUser()" type="submit" expand="block">Editar
            </ion-button>
          </ion-col>
      </ion-col>      
    </ion-row>
  </ion-grid>   
</ion-content>