ion-title {
    font-size: 23px;
    text-align: center;
  }

  ion-col {
    display: block;
    margin: auto;
  }

  ion-img {
    width: 35%;
    display: block;
    margin: auto;
  }
  .user-info-wrapper {
    // padding-left: calc(var(--page-margin) / 2);

    .user-name {
      margin: 0px 0px 0px;
      display: block;
      margin: auto;
      text-align: center;
    }
  }

  // ion-col.acomodar{
  //       padding: 20px;
  // }

  .texto{
    font-size: 16px;
  }
