<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Asistentes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="regresar()" text="Atras"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        href="editarclase/{{idClase}}/{{fechaf}}/{{horaInicio}}/{{horaFin}}/{{horario}}/{{nombreC}}/{{profesor}}">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="http://3.133.28.198:8080/imgs/blackcross.png"></ion-img>

  <ion-list inset="true" lines="none">
    <ion-item lines="full">
      <ion-label>
        <h2>Fecha: {{fechaf}}</h2>
        <h2>
          Clase: {{nombre}}
        </h2>
        <h3>
          Profesor: {{profesor}}
        </h3>
        <p>
          {{listado?.respuesta.lugares}}
        </p>
      </ion-label>
    </ion-item>

    <!-- Fechas de clases -->
    <!-- <ion-item>
      <ion-list-header color="fecha">
        <ion-item color="fecha">
          <ion-label>Fecha</ion-label>
          <ion-datetime 
          name="fecha" 
          [(ngModel)]="f.fecha" 
          placeholder="{{fechaClase | date: 'yyyy-MMM-dd'}}"
          displayFormat="YYYY-MMM-DD" 
          min="2020-07-04" max="2020-12-31" 
          (ionChange)="cambiofecha($event)" 
          cancelText="Cancelar" 
          doneText="Aceptar" 
          value="{{fechaDeClase}}"
          monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre">
            >
          </ion-datetime>
        </ion-item>

      </ion-list-header>
    </ion-item> -->
    <!-- fin fecha de clases -->
    <ion-card>
      <ion-item *ngFor="let Asistentes of listado?.respuesta.usuarios; 
        let indice=index;" class="animated fast fadeInDown">
        <ion-card-content>
          <ion-label *ngIf="Asistentes.sexo == 'M'">
            <h3> <span class="blue">M</span> {{Asistentes.nombre}} </h3>
          </ion-label>
          <ion-label *ngIf="Asistentes.sexo == 'F'">
            <h3> <span class="pink">F</span> {{Asistentes.nombre}} </h3>
          </ion-label>
        </ion-card-content>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>