<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Calendario</ion-title>   
    <!-- <ion-buttons slot="end">
      <ion-button href="user">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>       
    </ion-buttons>   -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="admin" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <!-- Fines de semana deshabilitados -->
  
  <!-- <ion-list>
    <ion-item>
      <ion-label>Dias desactivados</ion-label>
      <ion-select [(ngModel)]="_disableWeeks" 
      (ngModelChange)="_changeDisableWeeks($event)"
      multiple="true">
        <ion-select-option value="0">Domingo</ion-select-option>
        <ion-select-option value="1">Lunes</ion-select-option>
        <ion-select-option value="2">Martes</ion-select-option>
        <ion-select-option value="3">Miercoles</ion-select-option>
        <ion-select-option value="4">Jueves</ion-select-option>
        <ion-select-option value="5">Viernes</ion-select-option>
        <ion-select-option value="6">Sabado</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list> -->
  <div>
    <ion-calendar 
    [(ngModel)]="date" 
    [type]="type" 
    [options]="options"
    format="YYYY-MM-DD" 
    (click)="onClick(date,fechaf)">
    </ion-calendar>
  </div>
  <div>
    <ion-img src="http://3.133.28.198:8080/imgs/team.png"></ion-img>
  </div>
</ion-content>