<ion-header no-border>
  <ion-toolbar>
    <ion-title>Clases</ion-title>
    <ion-buttons slot="start" >
      <!-- <ion-back-button defaultHref="menu" routerLinkActive="router-link-active"  text="Atras"></ion-back-button> -->
      <ion-back-button defaultHref="menu" text="Atras"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list inset="true" class="animated fast fadeInDown" >
    <ion-list-header>
        <ion-label>Horarios</ion-label>
      </ion-list-header>
      
  <!-- <ion-item *ngFor="let Clases of listado?.respuesta; let indice=index; let AsistenciaClase of listado2?.respuesta" href="/tabs/asistentes/{{Clases.idClase}}/{{Clases.nombre}}"> -->
    <ion-item *ngFor="let Clases of listado?.respuesta; let indice=index; let AsistenciaClase of listado2?.respuesta">

    <ion-label >
      <h2>Clase: {{Clases.nombre}} </h2>
    
      <p>Capacidad: {{Clases.personas}} personas</p>
    

    </ion-label>
    <p>
        <ion-label *ngIf="Clases.horario == 'M'">
          <h3>Turno <span class="green">{{Clases.horario}}</span></h3>
          <!-- <h3>{{listado2?.respuesta.lugares}}</h3> -->
        </ion-label>

        <ion-label *ngIf="Clases.horario == 'V'">
            <h3>Turno <span class="red">{{Clases.horario}}</span></h3>
            <!-- <h3>{{listado2?.respuesta.lugares}}</h3> -->
          </ion-label>
      </p>
  </ion-item>
  
</ion-list>

</ion-content>
