<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Clases</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="atras()" text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="crearclass()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list inset="true" class="animated fast fadeInDown">
    <ion-item *ngFor="let Clases of listado?.respuesta; 
      let indice=index;"
      href="editarclase/{{Clases.idClase}}/{{Clases.horaInicio}}/{{Clases.horaFin}}/{{Clases.horario}}/{{Clases.nombre}}/{{Clases.profesor}}/{{Clases.personas}}/{{Clases.estatus}}"
      class="animated fast fadeInDown">
      <ion-label>
        <h2>Clase: {{Clases.nombre}} </h2>
        <p>Profesor: {{Clases.profesor}}</p>
      </ion-label>
      <p>
        <ion-label *ngIf="Clases.horario == 'M'">
          <h3>Turno <span class="green">{{Clases.horario}}</span></h3>
        </ion-label>

        <ion-label *ngIf="Clases.horario == 'V'">
          <h3>Turno <span class="red">{{Clases.horario}}</span></h3>
        </ion-label>
      </p>
    </ion-item>
  </ion-list>

</ion-content>
