<ion-header collapse="condense" class="ion-no-border">
  <ion-toolbar>
    <ion-title size="large">Menu</ion-title>
    <ion-buttons slot="end">
      <ion-button href="cambiarpass">
        <ion-icon slot="icon-only" name="cog-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >
  <!-- Observaciones -->
  <ion-list inset="true" class="animated fast fadeInLeft" >
    <!-- <ion-item href="/tabs/clases" no-border> -->
    <ion-item no-border (click)="caladmin()">
      <!-- <ion-avatar slot="start"> -->
      <ion-icon name="barbell-outline" slot="start" style="zoom: 2;"></ion-icon>
      <!-- </ion-avatar> -->
      <ion-label>
        <h1>Clases</h1>
      </ion-label>
    </ion-item>
    <!-- <ion-item href="/tabs/perfil" *ngIf="usuario.respuesta.idRol == 1"> -->
    <ion-item (click)="perfil()">
      <!-- <ion-avatar slot="start"> -->
      <ion-icon name="people-circle-outline" slot="start" style="zoom: 2;"></ion-icon>
      <!-- </ion-avatar> -->
      <ion-label>
        <h1>Perfiles</h1>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>




