
ion-title {
    font-size: 23px;
    text-align: center;
  }

  .bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

ion-content {
  --overflow: hidden;
}