<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Clases</ion-title>
    <ion-buttons slot="end">
      <ion-button href="crearclase/{{fechaf}}">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>   
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="atras()" text="Atras"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div>
    <ion-badge color="primary" class="centrar">{{fechaf}}</ion-badge>
  </div>
  <ion-list inset="true" class="animated fast fadeInDown">
    <ion-item *ngFor="let Clases of listado?.respuesta; 
      let indice=index;"
      href="asistentes/{{Clases.idClase}}/{{Clases.nombre}}/{{Clases.profesor}}/{{fechaf}}" 
      class="animated fast fadeInDown">
      <ion-label>
        <h2>Clase: {{Clases.nombre}} </h2>
        <p>Profesor: {{Clases.profesor}}</p>
        <p> Capacidad {{Clases.personas}} personas</p>
      </ion-label>
      <p>
        <ion-label *ngIf="Clases.horario == 'M'">
          <h3>Turno <span class="green">{{Clases.horario}}</span></h3>
        </ion-label>

        <ion-label *ngIf="Clases.horario == 'V'">
          <h3>Turno <span class="red">{{Clases.horario}}</span></h3>
        </ion-label>
      </p>
    </ion-item>
  </ion-list>
</ion-content>