<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Editar perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="perfil" text="Atras"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #editarPerfil="ngForm" novalidate>
    <ion-grid size-md="6" size-lg="5" size-xs="12">
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <!-- <ion-chip *ngIf="estatus === '1'" color="success">
              <ion-label>Activo</ion-label>
            </ion-chip>
            <ion-chip *ngIf="estatus === '0'" color="danger">
              <ion-label>Inactivo</ion-label>
            </ion-chip> -->
            <ion-item>
              <ion-label position="stacked">Nombre</ion-label>
              <ion-input name="nombre" type="text" placeholder="{{nombre}}" [(ngModel)]="ep.nombre" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Usuario</ion-label>
              <ion-input name="usuario" type="text" placeholder="{{usuario}}" [(ngModel)]="ep.usuario" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Contraseña</ion-label>
              <ion-input name="contrasenia" type="text" placeholder="{{contrasenia}}" [(ngModel)]="ep.contrasenia"
                required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Correo Electronico</ion-label>
              <ion-input name="correoElectronico" type="text" placeholder="{{correoElectronico}}"
                [(ngModel)]="ep.correoElectronico" required>
              </ion-input>
            </ion-item>
            <ion-item no-lines>
              <ion-segment (ionChange)="segmentChanged($event)" name="sexo" type="text" [(ngModel)]="ep.sexo">
                <ion-segment-button value="F">
                  <ion-label>Femenino</ion-label>
                </ion-segment-button>
                <ion-segment-button value="M">
                  <ion-label>Masculino</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Telefono</ion-label>
              <ion-input name="telefono" type="text" placeholder="{{telefono}}" [(ngModel)]="ep.telefono" required>
              </ion-input>
            </ion-item>
          </div>
          <div>
            <ion-row>
              <ion-col>
                <ion-button color="primary" type="submit" (click)="editarUsuario(editarPerfil)" expand="block">Editar</ion-button>
              </ion-col>
            </ion-row>
          </div>
          <div>
            <ion-row>
              <ion-col>
                <ion-button color="success" expand="block" (click)="activarUser(idUsuario)">Activo</ion-button>
              </ion-col>
              <ion-col>
                <ion-button color="danger" expand="block" (click)="desactivarUser(idUsuario)">Inactivo</ion-button>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>