ion-title {
    font-size: 23px;
  }

  ion-col {
    display: block;
    margin: auto;
  }

  .botonPago{
    --ion-color-contrast: #fbf9f9 !important;    
  }


  .sexo{
    font-size: 15px;
    font-weight:normal;
    color: black;
  }