ion-col {
    display: block;
    margin: auto;
  }

  ion-title {
    font-size: 23px;
    text-align: center;
  }

//   ion-card {
//     width: 70%;

//   }
  
  ion-card-title {
      text-align: center;
  }

  ion-card-subtitle {
      text-align: center;
  }
  ion-img{
    width: 30%;
    display: block;
    margin: auto;
  }

  .footer{
    // min-height: 5em;
    height: auto;
    font-size: 14px;
    text-align: center;
  }